extends layout

block content
    .content
    h2 Architecture Used
        br
        p 
            | Single-page web app architecture
            br
            | This is the most modern web application architecture, where you download a single page only once. On the client side, this page has a JavaScript layer that can freely communicate with web services on the server and, using the data from web services, make real-time updates to itself. 
            br
            img(src='/images/description.png', alt='architecture used', style='width:50%')

    h2 Design Choices
        br
        p 
            | Color chosen (Green) and the homepage background gives out a friendly vibe. Easy application with a navigation bar on top. User-friendly design. Suitable for students, workers. Any age group can use it.





    h2 Difficulties Encountered
        br
        p 
            |Team Effort.  When it comes to merging codes, it could be tough. This taught us to make sure that out code it simple and clear.