extends layout

block content
    if (user)
        .content
            each project in projects
                .box
                    h2 #[a(href='/index/project/' + project.id, id=project._id) #{project.title}]
                    p= project.description
                .row