extends layout

block content
    .content
        h3 CSS:
        ul
            li
            | CSS referenced from various pages on w3schools.com and edited to fit website
            ul
                li https://www.w3schools.com/css/css_website_layout.asp
                li https://www.w3schools.com/css/css3_buttons.asp
                li https://www.w3schools.com/howto/howto_css_image_avatar.asp
                li https://www.w3schools.com/howto/howto_css_full_page.asp
                
        h3 Images:
        ul
            li
            | Header: https://sakuravps.hajimete-guide.com/wp-content/uploads/2016/08/stockvault-business-meeting-and-teamwork-large-team-at-the-table181309.jpg
            li Home: http://www.handsmidia.com.br/wp-content/uploads/2017/03/1.jpg
            li
            | Icons: 
            ul
                li
                | Announcement: http://www.iconarchive.com/download/i86992/graphicloads/colorful-long-shadow/Announcement.ico
                li
                | Event: https://faultlogger.com/wp-content/uploads/2014/11/upcoming-events-calendar-icon-date-day-event-20203.png
                li Project: https://eralis.software/wp-content/uploads/Project-Team-Icon.png
                li To Do: https://freeiconshop.com/wp-content/uploads/edd/clipboard-flat.png
                li
                | Algorithm: https://cdn.iconscout.com/public/images/icon/premium/png-512/network-security-algorithm-authentication-chart-graph-35aa0c64b60586ba-512x512.png
        |             HTML passed 
        a(href='https://validator.w3.org/')  validator
        |  with error warning (input type=time and input type=date) taken care in JavaScript
        br
        |             CSS passed 
        a(href='https://jigsaw.w3.org/css-validator/')  validator
        | .